/* helper */
.mt-3{
    margin-top: 20px;
}
.mt-5{
    margin-top: 55px;
    padding-top: 60px;
}
.p-6{
    padding-right: 6px;
}
.ml-2{
    padding-left: 10px;
}

.text-white{
    color: #fff;
}
.main-section{
    background-color: #1D2F3D; 
    width: auto; 
    min-height: 500px; 
    margin: auto; 
    /* display: flex;   */
}
.main-section .tab{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.tab-list li{
    min-width: 125px;
    margin-bottom: 14px;
    min-height: 50px;
    display: flex;
    align-items: center;


}
.tab-list li a{
    color:#DB04B;
}

.r-title h3{
    color: 0DB04B#;
}
.r-title p{
    color: #fff;
    width: 70%;
}
.image-holder{
    /* margin-right: 12px; */
    position: relative;
}
.image-holder img{
   width: 100%;
}
.text-holder{
    position: absolute;
    bottom: 0px;
    background-color: #0DB04B90;
   
}
.text-holder p{
    color: #fff;
    padding: 14px 14px 2px 14px;
    font-size: 15px;
}



.sliding-u-l-r-l {
    display: block;
    position: relative;
    padding-bottom: 7px;
    cursor: pointer;
    max-width: 150px;
  }
  
  .sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;

  }
  
  .sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #0DB04B;D;
    transition: width .5s ease;
  }
  
  .sliding-u-l-r-l:hover:before {
    width: 100%;
    background: #0DB04B;D;
    transition: width .5s ease;
  }
  
  .sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }

  .r-title{
      color: #fff;

  }


  .event-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    width: 1081px;
    height: 301px;
    margin:auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
    border-radius: 5px; 
  }


  